<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EquipmentTowercraneParameterMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.EquipmentTowercraneParameter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="equipmentNo" jdbcType="VARCHAR" property="equipmentno" />
    <result column="data_time" jdbcType="BIGINT" property="dataTime" />
    <result column="rate" jdbcType="TINYINT" property="rate" />
    <result column="min_height_sensor_value" jdbcType="DOUBLE" property="minHeightSensorValue" />
    <result column="max_height_sensor_value" jdbcType="DOUBLE" property="maxHeightSensorValue" />
    <result column="standard_length" jdbcType="DOUBLE" property="standardLength" />
    <result column="min_range" jdbcType="DOUBLE" property="minRange" />
    <result column="min_range_sensor_value" jdbcType="DOUBLE" property="minRangeSensorValue" />
    <result column="max_range" jdbcType="DOUBLE" property="maxRange" />
    <result column="max_range_sensor_value" jdbcType="DOUBLE" property="maxRangeSensorValue" />
    <result column="empty_hook_AD_value" jdbcType="DOUBLE" property="emptyHookAdValue" />
    <result column="weight_sensor_value" jdbcType="DOUBLE" property="weightSensorValue" />
    <result column="weight_weight" jdbcType="DOUBLE" property="weightWeight" />
    <result column="rotation_type" jdbcType="CHAR" property="rotationType" />
    <result column="absolute_rotation_direction" jdbcType="CHAR" property="absoluteRotationDirection" />
    <result column="absolute_rotation" jdbcType="DOUBLE" property="absoluteRotation" />
    <result column="absolute_rotationpoint_confirm" jdbcType="DOUBLE" property="absoluteRotationpointConfirm" />
    <result column="potentiometer_rotation_leftlimit_sensor_value" jdbcType="DOUBLE" property="potentiometerRotationLeftlimitSensorValue" />
    <result column="potentiometer_rotation_rightlimit_sensor_value" jdbcType="DOUBLE" property="potentiometerRotationRightlimitSensorValue" />
    <result column="potentiometer_rotation_limit_anglesum" jdbcType="DOUBLE" property="potentiometerRotationLimitAnglesum" />
    <result column="four_rate_max_weight" jdbcType="DOUBLE" property="fourRateMaxWeight" />
    <result column="four_rate_max_weight_range" jdbcType="DOUBLE" property="fourRateMaxWeightRange" />
    <result column="four_rate_max_range" jdbcType="DOUBLE" property="fourRateMaxRange" />
    <result column="four_rate_max_range_weight" jdbcType="DOUBLE" property="fourRateMaxRangeWeight" />
    <result column="two_rate_max_weight" jdbcType="DOUBLE" property="twoRateMaxWeight" />
    <result column="two_rate_max_weight_range" jdbcType="DOUBLE" property="twoRateMaxWeightRange" />
    <result column="two_rate_max_range" jdbcType="DOUBLE" property="twoRateMaxRange" />
    <result column="two_rate_max_range_weight" jdbcType="DOUBLE" property="twoRateMaxRangeWeight" />
    <result column="zigbee_local_No" jdbcType="TINYINT" property="zigbeeLocalNo" />
    <result column="zigbee_channel_No" jdbcType="TINYINT" property="zigbeeChannelNo" />
    <result column="zigbee_group_No" jdbcType="TINYINT" property="zigbeeGroupNo" />
    <result column="anti_collision_local_X" jdbcType="DOUBLE" property="antiCollisionLocalX" />
    <result column="anti_collision_local_Y" jdbcType="DOUBLE" property="antiCollisionLocalY" />
    <result column="lifting_arm_length" jdbcType="DOUBLE" property="liftingArmLength" />
    <result column="balance_arm_length" jdbcType="DOUBLE" property="balanceArmLength" />
    <result column="tower_body_height" jdbcType="DOUBLE" property="towerBodyHeight" />
    <result column="tower_hat_height" jdbcType="DOUBLE" property="towerHatHeight" />
    <result column="range_decelerate" jdbcType="DOUBLE" property="rangeDecelerate" />
    <result column="range_speedlimit" jdbcType="DOUBLE" property="rangeSpeedlimit" />
    <result column="height_decelerate" jdbcType="DOUBLE" property="heightDecelerate" />
    <result column="height_speedlimit" jdbcType="DOUBLE" property="heightSpeedlimit" />
    <result column="rotation_decelerate" jdbcType="DOUBLE" property="rotationDecelerate" />
    <result column="rotation_speedlimit" jdbcType="DOUBLE" property="rotationSpeedlimit" />
    <result column="locality_protection_decelerate" jdbcType="DOUBLE" property="localityProtectionDecelerate" />
    <result column="locality_protection_speedlimit" jdbcType="DOUBLE" property="localityProtectionSpeedlimit" />
    <result column="anti_collision_decelerate" jdbcType="DOUBLE" property="antiCollisionDecelerate" />
    <result column="anti_collision_speedlimit" jdbcType="DOUBLE" property="antiCollisionSpeedlimit" />
    <result column="speed_exchange_torque" jdbcType="DOUBLE" property="speedExchangeTorque" />
    <result column="cutting_torque" jdbcType="DOUBLE" property="cuttingTorque" />
    <result column="speed_exchange_weight" jdbcType="DOUBLE" property="speedExchangeWeight" />
    <result column="cutting_weight" jdbcType="DOUBLE" property="cuttingWeight" />
    <result column="soft_version" jdbcType="VARCHAR" property="softVersion" />
    <result column="creat_time" jdbcType="BIGINT" property="creatTime" />
  </resultMap>
</mapper>