<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EquipmentLinkMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.EquipmentLink">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="yuuid" jdbcType="VARCHAR" property="yuuid" />
    <result column="wuuid" jdbcType="VARCHAR" property="wuuid" />
    <result column="linkage_is" jdbcType="VARCHAR" property="linkageIs" />
    <result column="linkage_overalarm_delay" jdbcType="INTEGER" property="linkageOveralarmDelay" />
    <result column="linkage_single_time" jdbcType="INTEGER" property="linkageSingleTime" />
    <result column="linkage_interval_time" jdbcType="INTEGER" property="linkageIntervalTime" />
    <result column="linkage_alarm_reference_mode" jdbcType="CHAR" property="linkageAlarmReferenceMode" />
  </resultMap>
</mapper>