<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.EquipmentAftersaleMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.EquipmentAftersale">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="personInCharge" jdbcType="VARCHAR" property="personincharge" />
    <result column="personInChargePhone" jdbcType="VARCHAR" property="personinchargephone" />
    <result column="installPerson" jdbcType="VARCHAR" property="installperson" />
    <result column="installPersonPhone" jdbcType="VARCHAR" property="installpersonphone" />
    <result column="receipt" jdbcType="VARCHAR" property="receipt" />
    <result column="installTime" jdbcType="BIGINT" property="installtime" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="sprayType" jdbcType="INTEGER" property="spraytype" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
</mapper>