<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.company.project.dao.PersonnelRealnameSystemMapper">
	<resultMap id="BaseResultMap"
		type="com.company.project.model.PersonnelRealnameSystem">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="empNo" jdbcType="VARCHAR" property="empno" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="birthday" jdbcType="DATE" property="birthday" />
		<result column="age" jdbcType="INTEGER" property="age" />
		<result column="birthplace" jdbcType="VARCHAR"
			property="birthplace" />
		<result column="photo" jdbcType="VARCHAR" property="photo" />
		<result column="nation" jdbcType="VARCHAR" property="nation" />
		<result column="homeAddress" jdbcType="VARCHAR"
			property="homeaddress" />
		<result column="telephone" jdbcType="VARCHAR"
			property="telephone" />
		<result column="manualInput" jdbcType="VARCHAR"
			property="manualinput" />
		<result column="dateIn" jdbcType="VARCHAR" property="datein" />
		<result column="addTime" jdbcType="BIGINT" property="addtime" />
		<result column="updateTime" jdbcType="BIGINT"
			property="updatetime" />
	</resultMap>

	<select id="selectMaxEmpNo" resultType="java.lang.String">
		select p.empNo from personnel_realname_system p order by p.updateTime desc
		limit 0, 1
	</select>

	<select id="selectProjectPersonnels"
		parameterType="java.lang.String"
		resultType="com.company.project.model.returns.apiv1.PersonnelResult">
		SELECT
		pi.id as id,
		prs.`name` as name,
		prs.empNo as empNo,
		pi.type as type,
		prs.`code` as code,
		prs.telephone as telephone,
		prs.nation as nation,
		prs.sex as sex,
		prs.age as age,
		prs.homeAddress as homeAddress
		FROM
		personnel_identity pi
		LEFT JOIN personnel_realname_system prs ON pi.empNo = prs.empNo
		WHERE pi.proUuid = #{proUuid} and pi.state = 0
	</select>

	<select id="selectProjectPersonnelBaseCensuss"
		parameterType="java.lang.String"
		resultType="com.company.project.model.returns.apiv1.PersonnelBaseCensusResult">
		select prs.empNo, prs.sex, prs.birthplace, prs.age from
		personnel_realname_system prs where prs.empNo in (
			select pi.empNo from personnel_identity pi where pi.proUuid = #{proUuid} group by pi.empNo
		)
	</select>

</mapper>