<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.PersonnelIdentityMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.PersonnelIdentity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="empNo" jdbcType="VARCHAR" property="empno" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="companyUuid" jdbcType="VARCHAR" property="companyuuid" />
    <result column="proUuid" jdbcType="VARCHAR" property="prouuid" />
    <result column="groupUuid" jdbcType="VARCHAR" property="groupuuid" />
    <result column="isGroupLeader" jdbcType="INTEGER" property="isgroupleader" />
    <result column="workType" jdbcType="INTEGER" property="worktype" />
    <result column="deptUuid" jdbcType="VARCHAR" property="deptuuid" />
    <result column="post" jdbcType="VARCHAR" property="post" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="updateTime" jdbcType="BIGINT" property="updatetime" />
    <result column="addTime" jdbcType="BIGINT" property="addtime" />
  </resultMap>
  
  <select id="selectWorkTypeStatistics" parameterType="java.lang.String" resultType="com.company.project.model.returns.GroupStatisticsResult">
  	SELECT
		uw.`name` AS item, num
	FROM
		(SELECT
			pi.workType AS item, count(pi.workType) AS num
		FROM
			personnel_identity pi
		WHERE
			pi.state = 0 AND pi.type = 2 AND pi.proUuid = #{proUuid}
		GROUP BY
			pi.workType
		) AS st
	LEFT JOIN unit_worktype uw ON item = uw.id
  </select>
  
</mapper>