<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SmartCultureMenuMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.SmartCultureMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_access_key" jdbcType="VARCHAR" property="menuAccessKey" />
    <result column="sort_num" jdbcType="INTEGER" property="sortNum" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
</mapper>