<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.SmartCultureWeatherNowMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.SmartCultureWeatherNow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="basic_cid" jdbcType="VARCHAR" property="basicCid" />
    <result column="basic_location" jdbcType="VARCHAR" property="basicLocation" />
    <result column="basic_parent_city" jdbcType="VARCHAR" property="basicParentCity" />
    <result column="basic_admin_area" jdbcType="VARCHAR" property="basicAdminArea" />
    <result column="basic_cnty" jdbcType="VARCHAR" property="basicCnty" />
    <result column="basic_lat" jdbcType="VARCHAR" property="basicLat" />
    <result column="basic_lon" jdbcType="VARCHAR" property="basicLon" />
    <result column="basic_tz" jdbcType="VARCHAR" property="basicTz" />
    <result column="update_loc" jdbcType="VARCHAR" property="updateLoc" />
    <result column="update_utc" jdbcType="VARCHAR" property="updateUtc" />
    <result column="now_cloud" jdbcType="VARCHAR" property="nowCloud" />
    <result column="now_cond_code" jdbcType="VARCHAR" property="nowCondCode" />
    <result column="now_cond_txt" jdbcType="VARCHAR" property="nowCondTxt" />
    <result column="now_fl" jdbcType="VARCHAR" property="nowFl" />
    <result column="now_tmp" jdbcType="VARCHAR" property="nowTmp" />
    <result column="now_wind_deg" jdbcType="VARCHAR" property="nowWindDeg" />
    <result column="now_wind_dir" jdbcType="VARCHAR" property="nowWindDir" />
    <result column="now_wind_spd" jdbcType="VARCHAR" property="nowWindSpd" />
    <result column="now_wind_sc" jdbcType="VARCHAR" property="nowWindSc" />
    <result column="now_hum" jdbcType="VARCHAR" property="nowHum" />
    <result column="now_pcpn" jdbcType="VARCHAR" property="nowPcpn" />
    <result column="now_pres" jdbcType="VARCHAR" property="nowPres" />
    <result column="now_vis" jdbcType="VARCHAR" property="nowVis" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
  </resultMap>
</mapper>