<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UnitLaborsubcontractorMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UnitLaborsubcontractor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="proUuid" jdbcType="VARCHAR" property="prouuid" />
    <result column="companyUuid" jdbcType="VARCHAR" property="companyuuid" />
    <result column="addTime" jdbcType="BIGINT" property="addtime" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  
  
  <select id="selectProjectLaborsubcontractors" parameterType="java.lang.String" resultType="com.company.project.model.returns.apiv1.LaborsubcontractorModel">
  	SELECT ul.companyUuid AS companyid, uc.companyName AS companyname FROM
		unit_laborsubcontractor ul LEFT JOIN unit_company uc ON ul.companyUuid = uc.uuid
	WHERE ul.state = 0 AND ul.proUuid = #{proUuid}  ORDER BY uc.companyName asc
  </select>
  
</mapper>