<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UnitProjectMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UnitProject">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="proName" jdbcType="VARCHAR" property="proname" />
    <result column="proCode" jdbcType="BIGINT" property="procode" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="companyUuid" jdbcType="VARCHAR" property="companyuuid" />
    <result column="building" jdbcType="VARCHAR" property="building" />
    <result column="supervision" jdbcType="VARCHAR" property="supervision" />
    <result column="survey" jdbcType="VARCHAR" property="survey" />
    <result column="construction" jdbcType="VARCHAR" property="construction" />
    <result column="design" jdbcType="VARCHAR" property="design" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="length" jdbcType="INTEGER" property="length" />
    <result column="locationMap" jdbcType="VARCHAR" property="locationmap" />
    <result column="addTime" jdbcType="BIGINT" property="addtime" />
    <result column="updateTime" jdbcType="BIGINT" property="updatetime" />
    <result column="personName" jdbcType="VARCHAR" property="personname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="salesName" jdbcType="VARCHAR" property="salesname" />
    <result column="salesPhone" jdbcType="VARCHAR" property="salesphone" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="measure" jdbcType="DOUBLE" property="measure" />
    <result column="investment" jdbcType="DOUBLE" property="investment" />
    <result column="numberOfLayers" jdbcType="VARCHAR" property="numberoflayers" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="constructionNature" jdbcType="VARCHAR" property="constructionnature" />
    <result column="mainStructureType" jdbcType="VARCHAR" property="mainstructuretype" />
    <result column="functions" jdbcType="VARCHAR" property="functions" />
    <result column="planStartTime" jdbcType="BIGINT" property="planstarttime" />
    <result column="planEndTime" jdbcType="BIGINT" property="planendtime" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
  </resultMap>
</mapper>