<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UnitCompanyMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UnitCompany">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="companyName" jdbcType="VARCHAR" property="companyname" />
    <result column="shortName" jdbcType="VARCHAR" property="shortname" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="addTime" jdbcType="BIGINT" property="addtime" />
    <result column="updateTime" jdbcType="BIGINT" property="updatetime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="superior" jdbcType="VARCHAR" property="superior" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="typeName" jdbcType="VARCHAR" property="typename" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="officialWebsite" jdbcType="VARCHAR" property="officialwebsite" />
  </resultMap>
</mapper>