<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.UnitWorkTypeMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.UnitWorkType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="addTime" jdbcType="BIGINT" property="addtime" />
    <result column="updateTime" jdbcType="BIGINT" property="updatetime" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="proUuid" jdbcType="VARCHAR" property="prouuid" />
  </resultMap>
</mapper>