<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.YeeTongProductMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.YeeTongProduct">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="unique_id" jdbcType="VARCHAR" property="uniqueId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_short_name" jdbcType="VARCHAR" property="productShortName" />
    <result column="product_cover_pic" jdbcType="VARCHAR" property="productCoverPic" />
    <result column="release_state" jdbcType="CHAR" property="releaseState" />
    <result column="weight_num" jdbcType="INTEGER" property="weightNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="product_introduce" jdbcType="LONGVARCHAR" property="productIntroduce" />
  </resultMap>
</mapper>