<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.YeeTongBannerMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.YeeTongBanner">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="unique_id" jdbcType="VARCHAR" property="uniqueId" />
    <result column="banner_title" jdbcType="VARCHAR" property="bannerTitle" />
    <result column="banner_type" jdbcType="CHAR" property="bannerType" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="jump_link" jdbcType="VARCHAR" property="jumpLink" />
    <result column="weight_num" jdbcType="INTEGER" property="weightNum" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>